@if (ShortcutMap != null)
{
    <MudText Typo="Typo.h1" GutterBottom=true>Shortcuts</MudText>

    <MudSelect Label="Select a category"
           @bind-Text="@_selectedText"
           T="string"
           Immediate
           Style="padding-bottom:2rem"
            ValueChanged="UpdateSelection">

        <MudSelectItem Value="@string.Empty">Show all</MudSelectItem>

        @foreach (var item in _categoryNames)
        {
            <MudSelectItem Value="@item">@item</MudSelectItem>
        }
    </MudSelect>

    if (_isSelected)
    {
        <ShortcutCategoryView Shortcuts="@_selectedShortcuts" />
    }
    else 
    {
        foreach (var category in _categoryNames)
        {
            var shortcuts = ShortcutMap.GetCategory(category);

            <ShortcutCategoryView Shortcuts="@shortcuts" />
        }
    }
}

<span class="visually-hidden" aria-live="assertive" live>@_selectedText</span>